@(bookFrom : Form[Book])
@*This will import all helper classes that we are ging to use to create form html for book*@
@import helper._

<html>
    <head>
        <title>Create Book</title>
    </head>
    <body>

        <h1>Create Book</h1>
        @*This will do<form action="/books/create method="POST"*@
        @helper.form(action = routes.BooksController.save()){
            @helper.inputText(bookFrom("id"))
            @helper.inputText(bookFrom("title"))
            @helper.inputText(bookFrom("price"))
            @helper.inputText(bookFrom("author"))

            <input type="submit" value="Create Book">

            }
    </body>
</html>